In [15]:
import pandas as pd
import numpy as np

df=pd.read_csv("breit_wigner.csv")
df

     x      g
0    0  10.60
1   25  16.00
2   50  45.00
3   75  83.50
4  100  52.80
5  125  19.90
6  150  10.80
7  175   8.25
8  200   4.70

In [11]:
def breit_wigner(a,b,c,x):
    result= a/((b-x)**2+c)
    return result

In [8]:
def derivative(a,b,c,x, d_param):
    step=0.001
    if(d_param=="a"):
        temp_plus=a+step
        temp_minus=a-step
        return (breit_wigner(temp_plus,b,c,x)-breit_wigner(temp_minus, b, c, x))/(2*step)
    elif(d_param=="b"):
        temp_plus=b+step
        temp_minus=b-step
        return (breit_wigner(a,temp_plus,c,x)-breit_wigner(a, temp_minus, c, x))/(2*step)
    elif(d_param=="c"):
        temp_plus=c+step
        temp_minus=c-step
        return (breit_wigner(a,b,temp_plus,x)-breit_wigner(a, b, temp_minus, x))/(2*step)

In [42]:
def jacobi_matrix(a,b,c, array):
    list_a=[]
    list_b=[]
    list_c=[]

    for x in array:
        list_a.append(derivative(a,b,c,x, "a"))
        list_b.append(derivative(a,b,c,x, "b"))
        list_c.append(derivative(a,b,c,x, "c"))
    
    Series_a, Series_b, Series_c= np.array(list_a), np.array(list_b), np.array(list_c)
    Jacobi=np.column_stack((Series_a,Series_b, Series_c))
    return Jacobi

In [43]:
jacobi=jacobi_matrix(500,20,30, df["x"])
jacobi

array([[ 2.32558140e-03, -1.08166577e-01, -2.70416441e-03],
       [ 1.81818182e-02,  1.65289256e+00, -1.65289256e-01],
       [ 1.07526882e-03,  3.46860909e-02, -5.78101515e-04],
       [ 3.27332242e-04,  5.89305183e-03, -5.35731984e-05],
       [ 1.55520995e-04,  1.93494240e-03, -1.20933900e-05],
       [ 9.04568069e-05,  8.59155561e-04, -4.09121696e-06],
       [ 5.90667454e-05,  4.53554454e-04, -1.74444021e-06],
       [ 4.15713989e-05,  2.67868087e-04, -8.64090601e-07],
       [ 3.08356460e-05,  1.71150672e-04, -4.75418532e-07]])